.divCompart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textCompart {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 39px;
}

.divInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.divColumn {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}